$darkColor10 = rgba(255, 255, 255, 1)
$darkColor9 = rgba(255, 255, 255, 1)
$darkColor8 = rgba(255, 255, 255, 1)
$darkColor7 = rgba(255, 255, 255, 1)
$darkColor6 = rgba(255, 255, 255, 1)
$darkColor5 = rgba(255, 255, 255, 1)
$darkColor4 = rgba(255, 255, 255, 1)
$darkColor3 = rgba(255, 255, 255, 1)
$darkColor2 = rgba(255, 255, 255, 1)
$darkColor1 = rgba(255, 255, 255, 1)

$lightColor10 = rgba(255, 255, 255, 1)
$lightColor9 = rgba(255, 255, 255, .9)
$lightColor8 = rgba(255, 255, 255, .8)
$lightColor7 = rgba(255, 255, 255, .7)
$lightColor6 = rgba(255, 255, 255, 1)
$lightColor5 = rgba(255, 255, 255, 1)
$lightColor4 = rgba(255, 255, 255, 1)
$lightColor3 = rgba(255, 255, 255, 1)
$lightColor2 = rgba(255, 255, 255, 1)
$lightColor1 = rgba(255, 255, 255, 1)

$textShadow = 0 2px 4px $darkColor1;
$borderRadius = .25rem
$lineNumbersWrapperWidth = 2.5rem

$backgroundColor ?= $lightColor8
$backgroundColorDark ?= $lightColor8

$boxShadow = 0 1px 8px 0 $darkColor1
$boxShadowHover = 0 2px 16px 0 $darkColor2
$boxShadowDark = 0 1px 8px 0 $darkColor6
$boxShadowHoverDark = 0 2px 16px 0 $darkColor7

$textColor ?= $lightColor8
$textColorDark ?= $lightColor8
$textColorSub = $lightColor8
$textColorSubDark = $lightColor8

$borderColor ?= $lightColor8
$borderColorDark ?= $darkColor3

$codeColor ?= $lightColor8
$codeColorDark ?= $darkColor3

$maskColor ?= $lightColor8
$maskColorDark ?= $lightColor8

$homePageWidth = 1126px
$contentWidth = 860px
$sidebarWidth = 18rem
